.about-us-background {
  background-image: url("../assets/images/Screenshot_fly_iku_subaru_22b_ek_tsukuba_fruits_line_8-4-124-1-37-24.jpg");
}

.main {
  width: 60%;
  margin: auto;
}

.section-line-text {
  font-size: var(--FontBiggerMid);
  font-weight: 600;
  width: fit-content;
  text-align: center;
  text-wrap: nowrap;
  padding: 3px 0px;
  border-radius: 5px;
  margin: 0 20px;
}

.article-flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.article-flex-forward {
  flex-direction: row;
}

.article-flex-reverse {
  flex-direction: row-reverse;
}

.article-text {
  width: 100%;
  text-align: justify;
}

.article-photo-box {
  width: 100%;
  height: fit-content;
}

.article-photo {
  width: 100%;
}

@media (max-width: 860px) {

  .article-flex-forward,
  .article-flex-reverse {
    flex-direction: column;
  }
}