:root {
  font-family: Lexend-Regular;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #070707;

  --IconsBackground: #333333;
  --UIlightgrey: #222222;
  --UIgrey: #111111;
  --UIbackground: #070707;
  --UIorange: #f18d37;
  --FontVerySmall: 16px;
  --FontSmall: 20px;
  --FontMid: 24px;
  --FontBig: 48px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Lexend-Black";
  src: url("./assets/fonts/Lexend/Lexend-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Lexend-Bold";
  src: url("./assets/fonts/Lexend/Lexend-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Lexend-ExtraBold";
  src: url("./assets/fonts/Lexend/Lexend-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Lexend-ExtraLight";
  src: url("./assets/fonts/Lexend/Lexend-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Lexend-Light";
  src: url("./assets/fonts/Lexend/Lexend-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Lexend-Medium";
  src: url("./assets/fonts/Lexend/Lexend-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Lexend-Regular";
  src: url("./assets/fonts/Lexend/Lexend-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Lexend-SemiBold";
  src: url("./assets/fonts/Lexend/Lexend-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Lexend-Thin";
  src: url("./assets/fonts/Lexend/Lexend-Thin.ttf") format("truetype");
  font-weight: 100;
}

.backgroundUIorange {
  background-color: #f18d37;
}

.colorUIorange {
  color: #f18d37;
}

.fontSizeVerySmall {
  font-size: 16px;
}

.fontSizeSmall {
  font-size: 20px;
}

.fontSizeMid {
  font-size: 24px;
}

h2 {
  color: #f18d37;
  font-size: 48px;
}

/* Szerokość paska przewijania */
::-webkit-scrollbar {
  width: 5px;
}

/* Tło paska przewijania */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Kolor kursora paska przewijania */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
}

/* Podświetlenie kursora paska przewijania */
::-webkit-scrollbar-thumb:hover {
  background: #909090;
}

body {
  overflow-x: hidden; /* Ukryj pasek przewijania poziomego */
  overflow-y: auto; /* Pozostaw pasek przewijania pionowego */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: transparent;
  cursor: pointer;
}

.header {
  transition: 0.3s;
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 2;
}

.header.scrolled {
  transition: 0.3s;
  background-color: var(--UIgrey);
}

.headerLeft {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  width: 25%;
  height: 100%;
}

.headerCenter {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  width: 20%;
  height: 100%;
}

.headerItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.header-hamburger {
  cursor: pointer;
}

.menuItemText {
  cursor: pointer;
}

.sectionTitle {
  color: var(--UIorange);
  font-family: Lexend-SemiBold;
  font-size: var(--FontBig);
  margin: 10px 0;
}

.sectionSubTitle {
  background-color: var(--UIlightgrey);
  padding: 3px 10px;
  border-radius: 5px;
}

.sectionTitleBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 380px;
  width: 100%;
  justify-content: center;
  background-color: var(--UIgrey);
}

.footer-content {
  padding: 0 15% 0 15%;
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.footer-section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.footer-content-left,
.footer-content-middle,
.footer-content-right {
  height: 100%;
  width: 100%;
}

.footer-content-left {
}

.footer-content-middle {
  padding-top: 50px;
}

.footer-content-right {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.day-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 6px;
}

.footer-day-box {
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  display: inline-flex;
  background-color: var(--IconsBackground);
}

.footer-working-hours {
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content-title {
  display: block;
  font-family: Lexend-SemiBold;
  font-size: var(--FontSmall);
}

.footer-content-label {
  display: block;
  margin-top: 3px;
  font-size: var(--FontSmall);
}

.footer-content-icon-background {
  height: 30px;
  width: 30px;
  background-color: var(--IconsBackground);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-right: 10px;
}

.location-additional-margin {
  padding: 0 0 0 40px !important;
  margin-top: -30px;
  display: block;
}

.footer-content-icon {
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(299deg)
    brightness(103%) contrast(115%);
}

.footer-bottom {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
